<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/newStyle.css" th:href="'/newStyle.css'">
</head>
<body>
<h1>Varukorg</h1>
<table>
  <tr>
  <tr th:each="snack : ${snacks}">
    <img th:src="'/images/' + ${snack.imageName} ">
    <span><p th:text="' Film: ' + ${snack.product}"></p></span>
    <span><p th:text="' Pris: ' + ${snack.snackPrice} + ' Kronor.'"></p></span>
  </tr>
</table>
<table>
  <tr>
  <tr th:each="movie : ${movies}">
    <img th:src="'/images/' + ${movie.imageName} ">
    <span><p th:text="' Film: '+ ${movie.title}"></p></span>
    <span><p th:text="' Pris: ' + ${movie.price} + ' Kronor.'"></p></span>
  </tr>
  <a th:href="'/'"><button>startsida</button></a>
</table>
</body>
</html>
