<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/newStyle.css" th:href="'/newStyle.css'">
</head>
<body>
<div>
<h1 th:text="${movie.title}"></h1>
<img th:src="'/images/' + ${movie.imageName} ">
    <form action="/cart/addMovie" method="post">
        <input type="hidden" th:value="${movie.title}" name="title">
    <input type="submit" value="Lägg till film i varukorgen">
    </form>
    <br>
<span>Pris: </span><span th:text=" ${movie.price} + ' Kronor'"></span>
    <h4><span th:text="'Beskrivning:'"></span></h4>
<span th:text="${movie.description}"></span>
</div>
<br>
<br>
<br>

<a th:href="'/'"><button>startsida</button></a>

</body>
</html>