<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/newStyle.css" th:href="'/newStyle.css'">
</head>
<body>


<h1 th:text="${snack.product}"></h1>
<img th:src="'/images/' + ${snack.imageName} ">
<form method="post" action="/cart/addSnack">
    <input type="hidden" th:value="${snack.product}" name="product">
    <input type="submit" value="Lägg till i varukorgen">
    </form>
<h5>Pris:
<span th:text="${snack.snackPrice}"></span> Kr </h5>

<h5>Beskrivning: </h5>
<span th:text="${snack.description}"></span>
<br>
<br>
<br>

<a th:href="'/'"><button>startsida</button></a>

</body>
</html>