<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h2 class="tableTitle">På bio just nu</h2>

<table class="table table-striped table-dark align-middle container">


  <h2 class="snackMovie">Filmer</h2>

  <div class="Panel">
    <div class="movieMenu" th:each="movie : ${movies}">

      <div class="poster">
        <a th:href= "'/movies/'+ ${movie.id}"> <img class="homePageImage"  th:src="'/images/' + ${movie.imageName} "></a>
      </div>
      <span><p th:text="${movie.title}"></p></span>
    </div>
  </div>
</table>

<h2 class="snackMovie">Snacks</h2>

<div class = "Panel">

  <div class="movieMenu" th:each="snack : ${snacks}">

    <div class="poster">
      <a th:href= "'/snacks/'+ ${snack.id}"> <img class="homePageImage"  th:src="'/images/' + ${snack.imageName} "></a>
    </div>
    <p th:text="${snack.name}"></p>
  </div>
</div>
</body>
</html>