<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>

<h2>Filmer</h2>
<div class="movieMenu" th:each="movie : ${movies}">

    <div class="poster">
        <a th:href= "'/movie/'+ ${movie.title}"> <img th:src="'/images/' + ${movie.imageName} "></a>
    </div>
    <span><p th:text="${movie.title}"></p></span>
</div>

<div class="candyMenu" th:each="snacks : ${snacks}">

    <div class="poster">
        <a th:href= "'/snacks/'+ ${snacks.product}"> <img th:src="'/images/' + ${snacks.imageName} "></a>
    </div>
    <p th:text="${snacks.product}"></p>
</div>

</body>
</html>